.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
}
.nav {
    position: fixed;
    height: 100%;
    top: 80px;
    left: 0;
}
ul.ant-menu.ant-menu-inline.ant-menu-light.ant-menu-root {
    height: 100%;
}
.content {
    min-width: 800px;
    padding-top: 20px;
    margin-left: 250px;
    margin-top: 90px;
    padding: 20px 40px;
}
.table {
    margin-top: 20px;
    overflow-y: auto;
}
td {
    padding: 10px!important;
}