<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>component!</title>
</head>
<body>
    <div id="app">
        <ol>
            <todo-item v-for="item in player" v-bind:todo="item"></todo-item>
        </ol>
        <!--<ol v-for="(item, index) in player " >
            <li>{{ item.text }}</li>
        </ol>-->
    </div>
    <script src="../base/vue.js"></script>
    <script>
        // Vue.component('todo-item', {
        //     template: '<li>This is a todo</li>'
        // });
        Vue.component('todo-item', {
            props: ['todo'],
            template: '<li>{{ todo.text }}</li>'
        });
        var app = new Vue({
            el: '#app',
            data: {
                player: [
                    { text: 'LBJ' },
                    { text: 'WADE' },
                    { text: 'KOBE' }
                ]
            }
        })
    </script>
</body>
</html>
